.logo img {
    width: 100px;
}

.nav-pesquisa {
    margin: auto 0 auto;
}

.nav {
    margin: auto 0 auto;
}

.lancamentos {
    margin-top: 50px;
}

.titulo {
    text-align: center;
    margin-bottom: 25px;
}

.video img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.destaques {
    margin-top: 50px;
}

.destaques-cards {
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 25px;
}

.card-filme {
    display: flex;
    height: 300px;
    width: 220px;
    margin-bottom: 25px;
}

.card-filme img {
    width: 100%;
    border-radius: 5px;
}