.espacamento {
    margin-bottom: 70px;
}

.titulo-centro {
    text-align: center;
}

.carousel {
    background-color: rgb(223, 223, 223);
    padding: 25px;
}

.carousel-item {
    width: 100%;
    height: 500px;
}

.carousel-conteudo {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}


/* @media screen and (max-width: 576px){
    .carousel-item {
        width: 100%;
        height: 250px;
    }
}*/

iframe {
    width: 100%;
    border-radius: 10px;
}

.em-destaque {
    max-width: 1400px;
    margin: 0 auto;
}

.filme-destaque {
    display: flex;
    flex-wrap: wrap;
}

.card-destaque {
    max-width: 300px;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 50px;
}

.card-destaque img {
    display: block;
    width: 100%;
}

